.middlePartDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleHeading {
  width: 500px;
  font-size: 3.5rem;
}

.titleParaText {
  color: #7f7f7f;
  margin-top: 10px;
}

.buttonsDiv {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}

.scrapbookButton {
  background: #ffffff;
  width: 140px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: "Poppins", sans-serif;
  color: black;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  outline: none;
}
.scrapbookButton:hover {
  background-color: #dedede;
}

.knowMoreButton {
  background: #ffffff;
  width: 140px;
  padding-left: 12px;
  margin-left: 8px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;

  font-family: "Poppins", sans-serif;
  color: black;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  outline: none;
}
.knowMoreButton:hover {
  background-color: #dedede;
}

.featuresDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10pxq;
  align-items: center;
}

.feature {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  justify-content: start;
  align-items: center;
  background: white;
  padding: 2px;
  border: 2px solid black;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.feature:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.feature img {
  margin-top: 4px;
  width: 120px;
  margin-bottom: 8px;
}

.featurePara {
  width: 300px;
  font-size: 14px;
  padding: 6px;
  text-align: start;
  color: black;
}
